<div class='general-page-editor edit-wrapper'>
    <div class="placeholder-info">
        <div data-placeholderid="{{placeholder.id}}"
             class="placeholder-name page-editor-row">

            <div class="six-col">
                <label class="label label-top">{{placeholder.human_readable_name}}</label>
            </div>

            <div class="six-col">
                <button class="add-component-button"><i class="fas fa-plus-square"></i></button>
            </div>

        </div>
    </div>
    <div class="placeholder-edit-component-content">
        {{html}}
    </div>
</div>